.topleft{
	top: 0;
	left: 0;
}
.topright, .stock_message_position{
	top: 0;
	right: 0;
}
.bottomleft{
	bottom: 0;
	left: 0;
	z-index: 100;
}
.bottomright{
	bottom: 0;
	right: 0;
	z-index: 100;
}

.availability_messages.o_not_editable {
    display: none;
}

@keyframes showMes {
  from {opacity: 0;}
  to {opacity: 1;}
}

.add_dispo{animation: showMes 250ms ease-in-out both;
	display:block;position:relative;top:20px;bottom:10px;right:0px;color:#56c861;padding: 0.5rem 1rem;font-size: 1.09rem;line-height: 1.5;border-radius: 0.3rem;z-index:2001;
}

.add_qty_warning{animation: showMes 250ms ease-in-out both;
	display:block;position:relative;top:20px;bottom:10px;right:0px;color:#FCB731;padding: 0.5rem 1rem;font-size: 1.09rem;line-height: 1.5;border-radius: 0.3rem;z-index:2001;
}



